body{
    font-style: italic;
    color: red;
    background-color: black;
}
table.info_table{
    width: 50%;
    border-collapse: collapse;
    text-align: left;
}
table.edu_table{
    width: 75%;
    padding: 10px;
    border: 1px solid red;
    border-collapse: collapse;
    border-radius: 10px;
}

td, th{
    width:50%;
    border: 2px solid red;
    vertical-align: middle;
    padding: 10px;
}

img.pic{
    aspect-ratio: 736/981;
    min-width: 92px;
    min-height: 123px;
    max-width: 184px;
    max-height: 245px;
    border: 5px solid black;
    border-radius: 50%;
}

img.pic:hover{
    transition: .5s ease;
    transform: rotate(20deg);
    filter: hue-rotate(360deg);
    border: 5px solid red;
}

section.layoutdiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
    gap: 60px;
}

section.tablesdiv{
    display: flex;
    justify-content: center;
    
}
