body{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: stretch;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.function{
    text-align: center;
}

.input{
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 10px;
    text-align: right;
    margin-bottom: 5px;
}

.input :invalid{
    border: 1px solid red;
}

.graph{
    border: 1px solid black;
    justify-self: center;
    image-rendering: crisp-edges;
    aspect-ratio: 1;
    max-height: 100%;
}

.graphButton{
    margin: 10px;
}

div{
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: start;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
}