body{
    background-color: whitesmoke;
}

table.results{
    border-collapse: collapse;

}

td{
    padding: 5px;
    min-width: max-content;
    border: 1px solid gray;
}


tr:nth-child(odd){
    background-color: aliceblue;
}